<mat-toolbar class="toolbar">

    <button 
        (click)="drawer.toggle()"
        mat-icon-button
        class="burger">
        <mat-icon>menu</mat-icon>
    </button>
    
    <div class="title">
  
    <div class="titles">
        <a>Base de connaissance</a>
    </div>

    <div class="logo">
        <img [src]="logo"/>
    </div>
</div>




  
</mat-toolbar>

<mat-drawer-container 
class="container" 
[hasBackdrop]="mdcBackdrop">
<mat-drawer #drawer class="drawer"  [mode]="drawerMode">
    <div class="sidenav-content">

        <div class="drawerButton">
            <button mat-icon-button
                (click)="drawer.toggle()"
                routerLink="home">
                <mat-icon>home</mat-icon>
            </button>
            <div class="txtfab">Home</div>
        </div>

        <div class="drawerButton">
            <button mat-icon-button
                (click)="drawer.toggle()"
                routerLink="admin">
                <mat-icon>security</mat-icon>
            </button>
            <div class="txtfab">Admin</div>
        </div>

        <div class="drawerButton">
            <button mat-icon-button
                (click)="drawer.toggle()"
                routerLink="functionality">
                <mat-icon>bug_report</mat-icon>
            </button>
            <div class="txtfab">Fonctionnalités</div>
        </div>

        <div class="drawerButton">
            <button mat-icon-button
                (click)="drawer.toggle()"
                routerLink="documentation">
                <mat-icon>security</mat-icon>
            </button>
            <div class="txtfab">Documentations</div>
        </div>



    </div>
</mat-drawer>
<mat-drawer-content>
    <router-outlet></router-outlet>
</mat-drawer-content>
</mat-drawer-container>